.contact-section {
  padding: 30px 50px;
  display: flex;
  gap: 10px;
}

.contact-left {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  border-radius: 20px;
  gap: 20px;
}
.contact-tag {
  color: #E59000;
}
.contact-left p {
  font-size: 20px;
  margin: 0;
}
.contact-left h1 {
  margin: 0;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-line {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact-line img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
}

.form-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: c;
}

form p {
  font-weight: bold;
}

form input {
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

form textarea {
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

form button {
  align-self: center;
  padding: 16px;
  border-radius: 20px;
  background-color: rgb(0, 67, 0);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width : 740px) {
  .contact-section {
    padding: 30px 30px;
    flex-direction: column;
  }
  .contact-left {
    width: 100%;
  }
  .contact-line {
    display: none;
  }
  .form-right {
    width: 100%;
  }
}