.np-display {
  display: flex;
  padding: 0 50px;
  border-bottom: 1px solid black;
}

.intro-box {
  width: 50%;
  border-top: 1px solid black;
}
.pic-box {
  width: 50%;
}
.greeting {
  border: 1px solid black;
  border-radius: 6px;
  display: inline-block;
  padding: 8px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.intro-box h1{
  margin: 0;
  padding: 0;
}
.name {
  color: rgb(0, 67, 0);
  border-bottom: 2px solid rgb(0, 67, 0);
  cursor: pointer;
}
.profile {
  max-width: 80%;
}

.intro-box button {
  padding: 14px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.intro-box .cv-btn {
  background-color: rgb(0, 67, 0);
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.intro-box .hire-btn {
  background-color: white;
  color: #222;
  font-weight: bold;
}

.pic {
  width: 100%;
  height: 500px;
  object-fit:cover;
  border: 2px dotted black;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .np-display {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    gap: 20px;
  }
  .intro-box, .pic-box{
    width: 100%;
  }
}