
.education-section {
  background-color: rgb(0, 67, 0);
  color: white;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.edu-tag {
  color: #E59000;
}

.education-section p {
  margin: 0;
}

.education-section h1{
  margin: 0;
}

.eduWork-container {
  display: flex;
  gap: 10px;
}

.left-edu {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  border: 2px double black;
}

.edu-heading {
  display: flex;
  align-items: center;
  gap: 30px;
}

.edu-heading img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.edu-box {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: flex-start;
  gap: 4px;
  border-left: 2px solid white;
}

.edu-box p, .edu-box h2 {
  margin: 0;
}
.edu-box h2{
  color: #E59000;
}

@media (max-width : 950px ) {
  .education-section {
    padding: 30px 30px;
  }
  .eduWork-container {
    flex-direction: column;
  }
  .left-edu {
    width: 100%;
  }
}