.faqs {
  padding: 50px 50px;
  text-align: center;
  background-color: rgb(0, 67, 0);
  color: white;
}

.faq-bar {
  color: #E59000;
}

.ques-look {
  color: #E59000;
  font-weight: normal;
}

.faq-item {
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.faq-question {
  background-color: rgba(0, 172, 0, 0.3);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-answer {
  background-color: #ffd555;
  color: black;
  display: none;
  padding: 20px;
  
}
.faq-item.active .faq-answer {
  display: flex;
}

.faq-item.active .icon {
  transform: rotate(45deg);
}

@media (max-width: 900px) {
  .faqs {
    padding: 20px 20px;
  }
  .faqs h1 {
    font-size: 24px;
  }

  .faq-question {
    font-size: 14px;
    padding: 12px 15px;
  }

  .faq-answer {
    font-size: 14px;
  }
}