.footer {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.connect-there {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.connect-there button {
  padding: 14px 24px;
  border-radius: 20px;
  background-color: rgb(0, 67, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contact-details {
  display: flex;
  width: 100%;
  gap: 50px;
}

.social {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-icons img {
  width: 30px;
  height: 30px;
}
.navigations {
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navigations h2{
  color: rgb(20, 200, 20);

}

.navigations a{
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

.contact-no {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-no h2 {
  color: rgb(20, 200, 20);
}

.contact-no p{
  margin: 10px 0;
}

.latest-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.latest-info h2 {
  color: rgb(20, 200, 20);
}

.latest-info form{
  display: flex;
  width: 100%;
  gap: 6px;/
}

.latest-info input {
  width: 75%;
  padding: 14px; 
  border: 2px solid black;
  border-radius: 10px;
}
.latest-info button {
  width: 20%;
  padding: 14px;
  color: white;
  background-color: rgb(0, 67, 0);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .footer {
    padding: 0 20px;
     margin-bottom: 10px;
  }
  .connect-there {
    flex-direction: column;
  }
  .connect-there button{
    width: 300px;
    margin-bottom: 10px;
  }
  .contact-details {
    flex-direction: column;
    gap: 10px;
  }
  .social {
    width: 100%;
  }
  .navigations {
    display: none;
  }
  .contact-no {
    width: 100%;
  }
  .latest-info {
    width: 100%;
  }
  .latest-info form {
    width: 100%;
  }
}